*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body{
	margin: auto;
	padding: auto;
	font-family: 'Montserrat'; sans-serif;
}

/*header-start*/
#header{
	background-color: ghostwhite;
	padding: 10px 0;
}

.container{
	max-width: 1140px;
	margin: auto;
	display: flex;
	justify-content:space-between;
	align-items: center;}

.logo{
	margin: 0;
	width: 500px;
}

.logo img{
	height: 80px;
}

nav{
	width: 100%;
	position: relative;
	display: flex;
	justify-content:space-between;
	align-items: center;
}

nav .nav-links{
	float: right;
	font-size: 24px;
}

nav .nav-links a{
	display: inline-block;
	padding: 10px 10px;
	text-decoration: none;
	color: black;
	font-weight:bold;
}

nav .nav-links a:hover{
	color: #f24e21;
}

nav a:nth-child(1){
	float: left;
}
nav a:nth-child(2){
	float: left;
}
nav a:nth-child(3){
	float: left;
}

/*header-end*/

/*banner*/
.banner{
	background-size:cover;
	background-position:center;
	padding: 250px 0;
}

.banner-img img{
	width:100%;
}

.banner-txt h1{
	color:ghostwhite;
	margin: 0px 30px 0px 0px;
	font-weight: bold;
	font-size: 50px
}

.banner-txt h2{
	color:ghostwhite;
	margin: 15px 30px 30px 0px;
	font-size: 23px;
	font-weight: normal
}

.banner-txt a{
	background-color:#24c38f;
	padding:10px 25px;
	border-radius: 25px;
	color:ghostwhite;
	text-decoration: none;
	font-size: 18px;
}

.banner-txt a:hover{
	background-color:black;
	color:ghostwhite;
}

.container1 h2{
	font-size:32px;
	text-align: center;
	padding:24px;
	margin: 15px;
}

.products{
     margin-bottom:64px;
     width:30%;
     box-shadow: 0px 0px 10px #bab9ba;
	padding: 0 0 32px 0;
}

.products img{
	width:90%;
	margin:15px 0px;
}

.products h2{
	text-align: center;
	margin-bottom: 12px;
}

.products h4{
	text-align: center;
	color:grey;
	font-family: 'Montserrat';
	font-weight:normal;
	margin: 0px 25px 30px 25px;
}


.products a{
	background-color:black;
	color: white;
	text-align: center;
	text-decoration: none;
	padding:10px 30px;
	border-radius: 25px;
}

.products a:hover{
	background-color: #e32645;
}

#footer{
	background-color: #24c38f;
	padding:30px 0;
}

.fa-brands{
	color:ghostwhite;
	font-size: 25px;
}

.container1 p{ 
	color: white;
	text-align: center;
	margin-top: 15px;
}

.container1 a{
	margin: 5px;
}

@media only screen and (max-width: 480px) {

	.container{
		display: block;
		width: 100%;
	}

	.banner-txt{
		padding: 20px;
		background-color: rgba(0, 0, 0, 0.8);
	}

	.banner-txt h1{
		text-align: center;
		font-size: 25px;
		margin-bottom:10px;
}

.banner-txt p{
	text-align: center;
}

.banner{
	padding: 100px 0;
}

.banner-txt a{
	margin-left: 35%;
}

.products{
     width:95%;
     display: block;
     margin-left: 2.5%;  
}

.container1 ul{
	margin-left:20%;
}

nav .nav-btn{
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}

nav .nav-btn label{
	display: inline-block;
	width: 50px;
	height: 50px;
	padding: 15px;
}

nav .nav-btn label:hover,nav #nav-check:checked~ .nav-btn label{
	background: transparent;
}

nav .nav-btn label span{
	display: block;
	width: 25px;
	height: 10px;
	border-top: 2px solid white;
}

nav .nav-links{
	background: #e32645;
	transition: all 0.3s ease-in;
	display: block;
	position: absolute;
	width: 100%;
	overflow-y:hidden;
	top: 80px;
	left: 0px;
}

nav .nav-links a{
	display: block;
	width: 100%;
	text-align: center;
	border-bottom: solid 1px white;
}

nav .nav-btn label:hover,nav #nav-check:not(:checked)~ .nav-links{
	height: 0px;
}
	
nav #nav-check:checked~ .nav-links{
	height: calc(100vh - 250px);
	overflow-y: auto;
}